import(RCurl)
import(stringr)
import(XML)
import(plyr)
import(RJSONIO)

export(getAcceptedNamesFromTSN, getAnyMatchCount, getCommentDetailFromTSN, getITISTermsFromCommonName, 
  getITISTermsFromScientificName, getTsnByVernacularLanguage, searchByCommonName, searchByCommonNameBeginsWith,
  searchByCommonNameEndsWith, searchByScientificName, searchForAnyMatch, searchForAnyMatchPaged)