http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/services/ITISService/getCommonNamesFromTSN?tsn=183833
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/xml;charset=UTF-8
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: <ns:getCommonNamesFromTSNResponse xmlns:ns="http://itis_service.itis.usgs.gov"><ns:return
        xmlns:ax21="http://data.itis_service.itis.usgs.gov/xsd" xmlns:ax23="http://metadata.itis_service.itis.usgs.gov/xsd"
        xmlns:ax26="http://itis_service.itis.usgs.gov/xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ax21:SvcCommonNameList"><ax21:tsn>183833</ax21:tsn><ax21:commonNames
        xsi:type="ax21:SvcCommonName"><ax21:commonName>African hunting dog</ax21:commonName><ax21:language>English</ax21:language><ax21:tsn>183833</ax21:tsn></ax21:commonNames><ax21:commonNames
        xsi:type="ax21:SvcCommonName"><ax21:commonName>African Wild Dog</ax21:commonName><ax21:language>English</ax21:language><ax21:tsn>183833</ax21:tsn></ax21:commonNames><ax21:commonNames
        xsi:type="ax21:SvcCommonName"><ax21:commonName>Painted Hunting Dog</ax21:commonName><ax21:language>English</ax21:language><ax21:tsn>183833</ax21:tsn></ax21:commonNames></ns:return></ns:getCommonNamesFromTSNResponse>
  recorded_at: 2021-02-02 00:42:53 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
