http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getCoverageFromTSN?tsn=28727
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcCoverageData","rankId":180,"taxonCoverage":"partial","tsn":"28727"}
  recorded_at: 2021-02-02 00:43:00 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
