http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/services/ITISService/getDateDataFromTSN?tsn=28727
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/xml;charset=UTF-8
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: <ns:getDateDataFromTSNResponse xmlns:ns="http://itis_service.itis.usgs.gov"><ns:return
        xmlns:ax21="http://data.itis_service.itis.usgs.gov/xsd" xmlns:ax23="http://metadata.itis_service.itis.usgs.gov/xsd"
        xmlns:ax26="http://itis_service.itis.usgs.gov/xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ax21:SvcTaxonDateData"><ax21:tsn>28727</ax21:tsn><ax21:initialTimeStamp>1996-06-13
        14:51:08.0</ax21:initialTimeStamp><ax21:updateDate>2011-12-08</ax21:updateDate></ns:return></ns:getDateDataFromTSNResponse>
  recorded_at: 2021-02-02 00:50:43 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
