http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getExpertsFromTSN?tsn=180544
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcTaxonExpertList","experts":[{"class":"gov.usgs.itis.itis_service.data.SvcTaxonExpert","comment":"Curator of North American mammals and Chief of Mammal Section, National Biological Service, Smithsonian Institution, National Museum of Natural History, Washington, DC, USA","expert":"Alfred L. Gardner","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus americanus","refLanguage":null,"referredTsn":"180544"}],"updateDate":"2003-10-28"},{"class":"gov.usgs.itis.itis_service.data.SvcTaxonExpert","comment":"Division of Natural Sciences, Bethel College, 1001 W. McKinley Ave., Mishawaka, IN 46545","expert":"W. Christopher Wozencraft","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus americanus","refLanguage":null,"referredTsn":"180544"}],"updateDate":"2003-10-28"}],"tsn":"180544"}
  recorded_at: 2021-02-02 00:56:34 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
