http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getFullRecordFromLSID?lsid=urn%3Alsid%3Aitis.gov%3Aitis_tsn%3A180543
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"acceptedNameList":{"acceptedNames":[null],"class":"gov.usgs.itis.itis_service.data.SvcAcceptedNameList","tsn":"180543"},"class":"gov.usgs.itis.itis_service.data.SvcFullRecord","commentList":{"class":"gov.usgs.itis.itis_service.data.SvcTaxonCommentList","comments":[{"class":"gov.usgs.itis.itis_service.data.SvcTaxonComment","commentDetail":"Status: CITES - Appendix I as U. arctos (Mexico, Bhutan, China, and Mongolia populations) and U. a. isabellinus; otherwise Appendix II. U. S. ESA - Endangered as U. arctos pruinosus, as U. arctos in Mexico, and as U. a. arctos in Italy. Threatened as U. a. ho...","commentId":"18556","commentTimeStamp":"2007-08-20 15:06:38.0","commentator":"Wilson & Reeder, eds. (2005)","updateDate":"2014-02-03"},{"class":"gov.usgs.itis.itis_service.data.SvcTaxonComment","commentDetail":"Comments: Reviewed by Erdbrink (1953), Couturier (1954), Rausch (1963a), Kurt<e9>n (1973), Hall (1984) and Pasitschniak-Arts (1993). Ognev (1931) and Allen (1938) recognized U. pruinosus as distinct; not followed by Ellerman and Morrison-Scott (1951), Gao (1987), and Stroganov (1962). L<f6>nnberg (1923b) believed that differences between pruinosus and arctos warranted subgeneric distinction as (Mylarctos) pruinosus; however, this was not supported by Pocock's (1932b) thorough revision. Synonyms allocated a...","commentId":"18557","commentTimeStamp":"2007-08-20 15:06:38.0","commentator":"Wilson & Reeder, eds. (2005)","updateDate":"2014-02-03"}],"tsn":"180543"},"commonNameList":{"class":"gov.usgs.itis.itis_service.data.SvcCommonNameList","commonNames":[{"class":"gov.usgs.itis.itis_service.data.SvcCommonName","commonName":"Brown Bear","language":"English","tsn":"180543"},{"class":"gov.usgs.itis.itis_service.data.SvcCommonName","commonName":"Grizzly Bear","language":"English","tsn":"180543"},{"class":"gov.usgs.itis.itis_service.data.SvcCommonName","commonName":"Oso pardo","language":"Spanish","tsn":"180543"}],"tsn":"180543"},"completenessRating":{"class":"gov.usgs.itis.itis_service.data.SvcGlobalSpeciesCompleteness","completeness":"","rankId":220,"tsn":"180543"},"coreMetadata":{"class":"gov.usgs.itis.itis_service.data.SvcCoreMetadata","credRating":"TWG standards met","rankId":220,"taxonCoverage":"","taxonCurrency":"","taxonUsageRating":"valid","tsn":"180543","unacceptReason":""},"credibilityRating":{"class":"gov.usgs.itis.itis_service.data.SvcCredibilityData","credRating":"TWG standards met","tsn":"180543"},"currencyRating":{"class":"gov.usgs.itis.itis_service.data.SvcCurrencyData","rankId":220,"taxonCurrency":"","tsn":"180543"},"dateData":{"class":"gov.usgs.itis.itis_service.data.SvcTaxonDateData","initialTimeStamp":"1996-06-13 14:51:08.0","tsn":"180543","updateDate":"2014-02-03"},"expertList":{"class":"gov.usgs.itis.itis_service.data.SvcTaxonExpertList","experts":[{"class":"gov.usgs.itis.itis_service.data.SvcTaxonExpert","comment":"Curator of North American mammals and Chief of Mammal Section, National Biological Service, Smithsonian Institution, National Museum of Natural History, Washington, DC, USA","expert":"Alfred L. Gardner","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus arctos","refLanguage":null,"referredTsn":"180543"}],"updateDate":"2003-10-28"},{"class":"gov.usgs.itis.itis_service.data.SvcTaxonExpert","comment":"Division of Natural Sciences, Bethel College, 1001 W. McKinley Ave., Mishawaka, IN 46545","expert":"W. Christopher Wozencraft","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus arctos","refLanguage":null,"referredTsn":"180543"}],"updateDate":"2003-10-28"}],"tsn":"180543"},"geographicDivisionList":{"class":"gov.usgs.itis.itis_service.data.SvcTaxonGeoDivisionList","geoDivisions":[{"class":"gov.usgs.itis.itis_service.data.SvcTaxonGeoDivision","geographicValue":"Europe & Northern Asia (excluding China)","updateDate":"2014-02-03"},{"class":"gov.usgs.itis.itis_service.data.SvcTaxonGeoDivision","geographicValue":"Southern Asia","updateDate":"2003-10-28"},{"class":"gov.usgs.itis.itis_service.data.SvcTaxonGeoDivision","geographicValue":"North America","updateDate":"1998-01-27"}],"tsn":"180543"},"hierarchyUp":{"author":null,"class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecord","parentName":"Ursus","parentTsn":"180541","rankName":"Species","taxonName":"Ursus arctos","tsn":"180543"},"jurisdictionalOriginList":{"class":"gov.usgs.itis.itis_service.data.SvcTaxonJurisdictionalOriginList","jurisdictionalOrigins":[{"class":"gov.usgs.itis.itis_service.data.SvcTaxonJurisdictionalOrigin","jurisdictionValue":"Continental US","origin":"Native","updateDate":"2007-08-20"},{"class":"gov.usgs.itis.itis_service.data.SvcTaxonJurisdictionalOrigin","jurisdictionValue":"Canada","origin":"Native","updateDate":"2007-08-20"},{"class":"gov.usgs.itis.itis_service.data.SvcTaxonJurisdictionalOrigin","jurisdictionValue":"Alaska","origin":"Native","updateDate":"2007-08-20"}],"tsn":"180543"},"kingdom":{"class":"gov.usgs.itis.itis_service.data.SvcKingdomInfo","kingdomId":"5","kingdomName":"Animalia  ","tsn":"180543"},"otherSourceList":{"class":"gov.usgs.itis.itis_service.data.SvcTaxonOtherSourceList","otherSources":[{"acquisitionDate":"2001-06-21","class":"gov.usgs.itis.itis_service.data.SvcTaxonOtherSource","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus arctos","refLanguage":null,"referredTsn":"180543"},{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Oso pardo","refLanguage":"Spanish","referredTsn":"180543"}],"source":"Comisi<f3>n Nacional para el Conocimiento y Uso de la Biodiversidad","sourceComment":"CONABIO: (http://www.conabio.gob.mx/)","sourceType":"database","updateDate":"2005-05-09","version":"undefined"},{"acquisitionDate":"1996-07-29","class":"gov.usgs.itis.itis_service.data.SvcTaxonOtherSource","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus arctos","refLanguage":null,"referredTsn":"180543"}],"source":"NODC Taxonomic Code","sourceComment":"","sourceType":"database","updateDate":"2010-01-14","version":"8.0"},{"acquisitionDate":"2001-03-22","class":"gov.usgs.itis.itis_service.data.SvcTaxonOtherSource","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus arctos","refLanguage":null,"referredTsn":"180543"}],"source":"U. S. Fish and Wildlife Service Endangered Species Program-03/01","sourceComment":"http://www.fws.gov/endangered/","sourceType":"website","updateDate":"2012-11-21","version":"undefined"}],"tsn":"180543"},"parentTSN":{"class":"gov.usgs.itis.itis_service.data.SvcParentTsn","parentTsn":"180541","tsn":"180543"},"publicationList":{"class":"gov.usgs.itis.itis_service.data.SvcTaxonPublicationList","publications":[{"actualPubDate":"1987-01-01","class":"gov.usgs.itis.itis_service.data.SvcTaxonPublication","isbn":"","issn":"","listedPubDate":"1987-01-01","pages":"79","pubComment":"","pubName":"Resource Publication, no. 166","pubPlace":"Washington, D.C., USA","publisher":"United States Department of the Interior Fish and Wildlife Service","referenceAuthor":"Banks, R. C., R. W. McDiarmid, and A. L. Gardner","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus arctos","refLanguage":null,"referredTsn":"180543"}],"title":"Checklist of Vertebrates of the United States, the U.S. Territories, and Canada","updateDate":"2020-12-18"},{"actualPubDate":"2005-10-01","class":"gov.usgs.itis.itis_service.data.SvcTaxonPublication","isbn":"0-8018-8221-4","issn":"","listedPubDate":"2005-10-01","pages":"2142","pubComment":"","pubName":"Mammal Species of the World: A Taxonomic and Geographic Reference, 3rd ed., vols. 1 & 2","pubPlace":"Baltimore, Maryland, USA","publisher":"Johns Hopkins University Press","referenceAuthor":"Wils[...]
