http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getGeographicDivisionsFromTSN?tsn=180543
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcTaxonGeoDivisionList","geoDivisions":[{"class":"gov.usgs.itis.itis_service.data.SvcTaxonGeoDivision","geographicValue":"Europe & Northern Asia (excluding China)","updateDate":"2014-02-03"},{"class":"gov.usgs.itis.itis_service.data.SvcTaxonGeoDivision","geographicValue":"North America","updateDate":"1998-01-27"},{"class":"gov.usgs.itis.itis_service.data.SvcTaxonGeoDivision","geographicValue":"Southern Asia","updateDate":"2003-10-28"}],"tsn":"180543"}
  recorded_at: 2021-02-02 01:09:45 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
