http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/services/ITISService/getGeographicDivisionsFromTSN?tsn=180544
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/xml;charset=UTF-8
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: <ns:getGeographicDivisionsFromTSNResponse xmlns:ns="http://itis_service.itis.usgs.gov"><ns:return
        xmlns:ax21="http://data.itis_service.itis.usgs.gov/xsd" xmlns:ax23="http://metadata.itis_service.itis.usgs.gov/xsd"
        xmlns:ax26="http://itis_service.itis.usgs.gov/xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ax21:SvcTaxonGeoDivisionList"><ax21:tsn>180544</ax21:tsn><ax21:geoDivisions
        xsi:type="ax21:SvcTaxonGeoDivision"><ax21:geographicValue>Middle America</ax21:geographicValue><ax21:updateDate>2003-10-28</ax21:updateDate></ax21:geoDivisions><ax21:geoDivisions
        xsi:type="ax21:SvcTaxonGeoDivision"><ax21:geographicValue>North America</ax21:geographicValue><ax21:updateDate>1998-01-27</ax21:updateDate></ax21:geoDivisions></ns:return></ns:getGeographicDivisionsFromTSNResponse>
  recorded_at: 2021-02-02 01:09:46 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
