http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getGlobalSpeciesCompletenessFromTSN?tsn=180541
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcGlobalSpeciesCompleteness","completeness":"complete","rankId":180,"tsn":"180541"}
  recorded_at: 2021-02-02 01:18:35 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
