http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/services/ITISService/getGlobalSpeciesCompletenessFromTSN?tsn=180541
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/xml;charset=UTF-8
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: <ns:getGlobalSpeciesCompletenessFromTSNResponse xmlns:ns="http://itis_service.itis.usgs.gov"><ns:return
        xmlns:ax21="http://data.itis_service.itis.usgs.gov/xsd" xmlns:ax23="http://metadata.itis_service.itis.usgs.gov/xsd"
        xmlns:ax26="http://itis_service.itis.usgs.gov/xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ax21:SvcGlobalSpeciesCompleteness"><ax21:tsn>180541</ax21:tsn><ax21:completeness>complete</ax21:completeness><ax21:rankId>180</ax21:rankId></ns:return></ns:getGlobalSpeciesCompletenessFromTSNResponse>
  recorded_at: 2021-02-02 01:18:34 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
