http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getHierarchyDownFromTSN?tsn=179913
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      file: no
      string: |
        {"author":"Linnaeus, 1758","class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecordList","hierarchyList":[{"author":"Gill, 1872","class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecord","parentName":"Mammalia","parentTsn":"179913","rankName":"Subclass","taxonName":"Prototheria","tsn":"179914"},{"author":"Parker and Haswell, 1897","class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecord","parentName":"Mammalia","parentTsn":"179913","rankName":"Subclass","taxonName":"Theria","tsn":"179916"}],"rankName":"Class","sciName":"Mammalia","tsn":"179913"}
  recorded_at: 2020-03-31 17:12:44 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
