http_interactions:
- request:
    method: get
    uri: https://services.itis.gov/?foo=bar&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |+
        {"responseHeader":{"status":0,"QTime":0,"params":{"foo":"bar","wt":"json"}},"response":{"numFound":0,"start":0,"docs":[]}}

  recorded_at: 2020-03-31 17:13:24 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://services.itis.gov/?wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |+
        {"responseHeader":{"status":0,"QTime":0,"params":{"wt":"json"}},"response":{"numFound":0,"start":0,"docs":[]}}

  recorded_at: 2020-03-31 17:13:24 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
