http_interactions:
- request:
    method: get
    uri: https://services.itis.gov/?q=rank%3ASpecies&facet.field=kingdom&rows=0&wt=json&fl=DOES_NOT_EXIST&facet=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |+
        {"responseHeader":{"status":0,"QTime":21,"params":{"q":"rank:Species","facet.field":"kingdom","fl":"DOES_NOT_EXIST","rows":"0","wt":"json","facet":"true"}},"response":{"numFound":628077,"start":0,"docs":[]},"facet_counts":{"facet_queries":{},"facet_fields":{"kingdom":["animalia",493901,"plantae",109900,"bacteria",11983,"chromista",6560,"fungi",2961,"protozoa",2328,"archaea",444]},"facet_dates":{},"facet_ranges":{},"facet_intervals":{},"facet_heatmaps":{}}}

  recorded_at: 2020-03-31 17:12:54 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
