http_interactions:
- request:
    method: get
    uri: https://services.itis.gov/?group.field=rank&q=nameWOInd%3A%2F%5BA-Za-z0-9%5D%2A%5B%2520%5D%7B0%2C0%7D%2A%2F&wt=json&group.limit=3&group=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |+
        {"responseHeader":{"status":0,"QTime":100,"params":{"q":"nameWOInd:/[A-Za-z0-9]*[%20]{0,0}*/","group.limit":"3","wt":"json","group.field":"rank","group":"true"}},"grouped":{"rank":{"matches":93455,"groups":[{"groupValue":"genus","doclist":{"numFound":73558,"start":0,"docs":[{"tsn":"142798","nameWInd":"Xenochaeta","nameWOInd":"Xenochaeta","unit1":"Xenochaeta","usage":"valid","credibilityRating":"TWG standards met","completenessRating":"complete","currencyRating":"2002","taxonAuthor":"Snow, 1894","kingdom":"Animalia","parentTSN":"142604","rankID":"180","rank":"Genus","hierarchySoFar":["142798:$Animalia$Bilateria$Protostomia$Ecdysozoa$Arthropoda$Hexapoda$Insecta$Pterygota$Neoptera$Holometabola$Diptera$Brachycera$Muscomorpha$Tephritidae$Xenochaeta$"],"hierarchySoFarWRanks":["142798:$Kingdom:Animalia$Subkingdom:Bilateria$Infrakingdom:Protostomia$Superphylum:Ecdysozoa$Phylum:Arthropoda$Subphylum:Hexapoda$Class:Insecta$Subclass:Pterygota$Infraclass:Neoptera$Superorder:Holometabola$Order:Diptera$Suborder:Brachycera$Infraorder:Muscomorpha$Family:Tephritidae$Genus:Xenochaeta$"],"hierarchyTSN":["$202423$914154$914155$914158$82696$563886$99208$100500$563890$914213$118831$130052$131750$142604$142798$"],"publication":["$PUB$2900$Norrbom, A. L., L. E. Carroll, F. C. Thompson, I. M. White and A. Freidberg / F. C. Thompson, ed.$Systematic database of names$Fruit Fly Expert Identification System and Systematic Information Database. Myia, vol. 9$1998-01-01 00:00:00$1999-01-01 00:00:00$$$90-5782-013-7$$65-251$$N$2005-05-12 00:00:00$"],"otherSource":["$SRC$7$database$NODC Taxonomic Code$8.0$1996-07-29 00:00:00$$2010-01-14 00:00:00$","$SRC$298$website$BioSystematic Database of World Diptera$22-Feb-02$2002-02-22 00:00:00$http://www.sel.barc.usda.gov/diptera/biosys.htm$2005-05-12 00:00:00$"],"createDate":"1996-06-13 14:51:08","updateDate":"2005-05-12 00:00:00","hierarchicalSort":"9990Animalia-9980Bilateria-9975Protostomia-9973Ecdysozoa-9970Arthropoda-9960Hexapoda-9940Insecta-9930Pterygota-9920Neoptera-9910Holometabola-9900Diptera-9890Brachycera-9880Muscomorpha-9860Tephritidae-9820Xenochaeta","_version_":1662631971262562304},{"tsn":"142803","nameWInd":"Rhynencina","nameWOInd":"Rhynencina","unit1":"Rhynencina","usage":"valid","credibilityRating":"TWG standards met","completenessRating":"complete","currencyRating":"2002","taxonAuthor":"Johnson, 1922","kingdom":"Animalia","parentTSN":"142604","rankID":"180","rank":"Genus","hierarchySoFar":["142803:$Animalia$Bilateria$Protostomia$Ecdysozoa$Arthropoda$Hexapoda$Insecta$Pterygota$Neoptera$Holometabola$Diptera$Brachycera$Muscomorpha$Tephritidae$Rhynencina$"],"hierarchySoFarWRanks":["142803:$Kingdom:Animalia$Subkingdom:Bilateria$Infrakingdom:Protostomia$Superphylum:Ecdysozoa$Phylum:Arthropoda$Subphylum:Hexapoda$Class:Insecta$Subclass:Pterygota$Infraclass:Neoptera$Superorder:Holometabola$Order:Diptera$Suborder:Brachycera$Infraorder:Muscomorpha$Family:Tephritidae$Genus:Rhynencina$"],"hierarchyTSN":["$202423$914154$914155$914158$82696$563886$99208$100500$563890$914213$118831$130052$131750$142604$142803$"],"synonyms":["142803:$Aleomyia$Aleomyia$"],"synonymTSNs":["142803:$203143$203144$"],"publication":["$PUB$2900$Norrbom, A. L., L. E. Carroll, F. C. Thompson, I. M. White and A. Freidberg / F. C. Thompson, ed.$Systematic database of names$Fruit Fly Expert Identification System and Systematic Information Database. Myia, vol. 9$1998-01-01 00:00:00$1999-01-01 00:00:00$$$90-5782-013-7$$65-251$$N$2005-05-12 00:00:00$"],"otherSource":["$SRC$7$database$NODC Taxonomic Code$8.0$1996-07-29 00:00:00$$2010-01-14 00:00:00$","$SRC$298$website$BioSystematic Database o[...]
