http_interactions:
- request:
    method: get
    uri: https://services.itis.gov/?q=rank%3ASpecies&rows=10&wt=json&hl.fl=rank&hl=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |+
        {"responseHeader":{"status":0,"QTime":2,"params":{"q":"rank:Species","hl":"true","hl.fl":"rank","rows":"10","wt":"json"}},"response":{"numFound":628077,"start":0,"docs":[{"tsn":"142797","nameWInd":"Trypeta platyptera","nameWOInd":"Trypeta platyptera","unit1":"Trypeta","unit2":"platyptera","usage":"invalid","unacceptReason":"original name/combination","credibilityRating":"TWG standards met","taxonAuthor":"Loew, 1873","kingdom":"Animalia","rankID":"220","rank":"Species","hierarchySoFar":["142796:$Animalia$Bilateria$Protostomia$Ecdysozoa$Arthropoda$Hexapoda$Insecta$Pterygota$Neoptera$Holometabola$Diptera$Brachycera$Muscomorpha$Tephritidae$Xanthomyia$Xanthomyia platyptera$"],"hierarchySoFarWRanks":["142796:$Kingdom:Animalia$Subkingdom:Bilateria$Infrakingdom:Protostomia$Superphylum:Ecdysozoa$Phylum:Arthropoda$Subphylum:Hexapoda$Class:Insecta$Subclass:Pterygota$Infraclass:Neoptera$Superorder:Holometabola$Order:Diptera$Suborder:Brachycera$Infraorder:Muscomorpha$Family:Tephritidae$Genus:Xanthomyia$Species:Xanthomyia platyptera$"],"hierarchyTSN":["$202423$914154$914155$914158$82696$563886$99208$100500$563890$914213$118831$130052$131750$142604$142794$142796$"],"synonyms":["142796:$Trypeta platyptera$"],"synonymTSNs":["142796:$142797$"],"publication":["$PUB$2900$Norrbom, A. L., L. E. Carroll, F. C. Thompson, I. M. White and A. Freidberg / F. C. Thompson, ed.$Systematic database of names$Fruit Fly Expert Identification System and Systematic Information Database. Myia, vol. 9$1998-01-01 00:00:00$1999-01-01 00:00:00$$$90-5782-013-7$$65-251$$N$2005-05-12 00:00:00$"],"otherSource":["$SRC$7$database$NODC Taxonomic Code$8.0$1996-07-29 00:00:00$$2010-01-14 00:00:00$","$SRC$298$website$BioSystematic Database of World Diptera$22-Feb-02$2002-02-22 00:00:00$http://www.sel.barc.usda.gov/diptera/biosys.htm$2005-05-12 00:00:00$"],"acceptedTSN":["142796"],"createDate":"1996-06-13 14:51:08","updateDate":"2005-05-12 00:00:00","_version_":1662631971260465160},{"tsn":"142799","nameWInd":"Xenochaeta aurantiaca","nameWOInd":"Xenochaeta aurantiaca","unit1":"Xenochaeta","unit2":"aurantiaca","usage":"valid","credibilityRating":"TWG standards met","taxonAuthor":"(Doane, 1899)","kingdom":"Animalia","parentTSN":"142798","rankID":"220","rank":"Species","hierarchySoFar":["142799:$Animalia$Bilateria$Protostomia$Ecdysozoa$Arthropoda$Hexapoda$Insecta$Pterygota$Neoptera$Holometabola$Diptera$Brachycera$Muscomorpha$Tephritidae$Xenochaeta$Xenochaeta aurantiaca$"],"hierarchySoFarWRanks":["142799:$Kingdom:Animalia$Subkingdom:Bilateria$Infrakingdom:Protostomia$Superphylum:Ecdysozoa$Phylum:Arthropoda$Subphylum:Hexapoda$Class:Insecta$Subclass:Pterygota$Infraclass:Neoptera$Superorder:Holometabola$Order:Diptera$Suborder:Brachycera$Infraorder:Muscomorpha$Family:Tephritidae$Genus:Xenochaeta$Species:Xenochaeta aurantiaca$"],"hierarchyTSN":["$202423$914154$914155$914158$82696$563886$99208$100500$563890$914213$118831$130052$131750$142604$142798$142799$"],"synonyms":["142799:$Eutreta aurantiaca$"],"synonymTSNs":["142799:$142800$"],"publication":["$PUB$2900$Norrbom, A. L., L. E. Carroll, F. C. Thompson, I. M. White and A. Freidberg / F. C. Thompson, ed.$Systematic database of names$Fruit Fly Expert Identification System and Systematic Information Database. Myia, vol. 9$1998-01-01 00:00:00$1999-01-01 00:00:00$$$90-5782-013-7$$65-251$$N$2005-05-12 00:00:00$"],"otherSource":["$SRC$7$database$NODC Taxonomic Code$8.0$1996-07-29 00:00:00$$2010-01-14 00:00:00$","$SRC$298$website$BioSystematic Database of World Diptera$22-Feb-02$2002-02-22 00:00:00$http://www.sel.barc.usda.gov/diptera/biosys.htm$2005-05-12 00:00:00$"],"createDate":"1996-06-13 14:51:08","updateDate":"2005-05-12 00:00:00","hierarchicalSort":"9990Animalia-9980Bilateria-9975Protostomia-9973Ecdysozoa-9970Arthropoda-9960Hexapoda-9940Insecta-9930Pterygota-9920Neoptera-9910Holometabola-9900Diptera-9890Brachycera-9880Muscomorpha-9860Tephritidae-9820Xenochaeta-9780Xenochaeta aurantiaca","_version_":1662631971262562305},{"tsn":"142800","nameWInd":"Eutreta aurantiaca","nameWOInd":"Eutreta aurantiaca","unit1":"Eutreta","unit2":"aurantiaca","usage":"invalid","unacceptReason":"original name/combination","credibilityRating":"TWG standards met","[...]
