http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getJurisdictionalOriginValues
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.metadata.SvcOriginValueList","originValues":[{"class":"gov.usgs.itis.itis_service.metadata.SvcOriginValue","jurisdiction":"Alaska","origin":"Incidental"},{"class":"gov.usgs.itis.itis_service.metadata.SvcOriginValue","jurisdiction":"Alaska","origin":"Introduced"},{"class":"gov.usgs.itis.itis_service.metadata.SvcOriginValue","jurisdiction":"Alaska","origin":"Native"},{"class":"gov.usgs.itis.itis_service.metadata.SvcOriginValue","jurisdiction":"Alaska","origin":"Native & Introduced"},{"class":"gov.usgs.itis.itis_service.metadata.SvcOriginValue","jurisdiction":"Canada","origin":"Incidental"},{"class":"gov.usgs.itis.itis_service.metadata[...]
