http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getPublicationsFromTSN?tsn=70340
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcTaxonPublicationList","publications":[{"actualPubDate":"1988-01-01","class":"gov.usgs.itis.itis_service.data.SvcTaxonPublication","isbn":"0-913235-47-4","issn":"0097-0638","listedPubDate":"1988-01-01","pages":"vii + 277","pubComment":"","pubName":"American Fisheries Society Special Publication 16","pubPlace":"Bethesda, Maryland, USA","publisher":"American Fisheries Society","referenceAuthor":"Turgeon, D. D., A. E. Bogan, E. V. Coan, W. K. Emerson, W. G. Lyons, W. Pratt, et al.","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Tulotoma magnifica","refLanguage":null,"referredTsn":"70340"}],"title":"Common and scientific names of aquatic invertebrates from the United States and Canada: mollusks","updateDate":"2020-01-28"},{"actualPubDate":"1998-01-01","class":"gov.usgs.itis.itis_service.data.SvcTaxonPublication","isbn":"1-888569-01-8","issn":"0097-0638","listedPubDate":"1998-01-01","pages":"526","pubComment":"","pubName":"American Fisheries Society Special Publication 26","pubPlace":"Bethesda, Maryland, USA","publisher":"American Fisheries Society","referenceAuthor":"Turgeon, D. D., J. F. Quinn, Jr., A. E. Bogan, E. V. Coan, F. G. Hochberg, W. G. Lyons, et al.","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Tulotoma magnifica","refLanguage":null,"referredTsn":"70340"}],"title":"Common and scientific names of aquatic invertebrates from the United States and Canada: Mollusks, 2nd ed.","updateDate":"2020-01-28"}],"tsn":"70340"}
  recorded_at: 2020-03-31 17:13:55 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
