http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getRecordFromLSID?lsid=urn%3Alsid%3Aitis.gov%3Aitis_tsn%3A180543
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      file: no
      string: |
        {"authorship":"Linnaeus, 1758","class":"gov.usgs.itis.itis_service.data.SvcLSIDRecord","genusPart":"Ursus","infragenericEpithet":null,"infraspecificEpithet":null,"lsid":"urn:lsid:itis.gov:itis_tsn:180543","nameComplete":"Ursus arctos","nomenclaturalCode":"iczn","rank":"http://rs.tdwg.org/ontology/voc/TaxonRank#Species","rankString":"Species","specificEpithet":"arctos","tsn":"180543","uninomial":null}
  recorded_at: 2020-03-31 17:14:05 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
