http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/services/ITISService/searchByScientificName?srchKey=Tardigrada
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/xml;charset=UTF-8
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      file: no
      string: <ns:searchByScientificNameResponse xmlns:ns="http://itis_service.itis.usgs.gov"><ns:return
        xmlns:ax21="http://data.itis_service.itis.usgs.gov/xsd" xmlns:ax23="http://metadata.itis_service.itis.usgs.gov/xsd"
        xmlns:ax26="http://itis_service.itis.usgs.gov/xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ax21:SvcScientificNameList"><ax21:scientificNames xsi:type="ax21:SvcScientificName"><ax21:tsn>58274</ax21:tsn><ax21:author>(Ehrenberg,
        1832)</ax21:author><ax21:combinedName>Rotaria tardigrada</ax21:combinedName><ax21:kingdom>Animalia</ax21:kingdom><ax21:unitInd1
        xsi:nil="true" /><ax21:unitInd2 xsi:nil="true" /><ax21:unitInd3 xsi:nil="true"
        /><ax21:unitInd4 xsi:nil="true" /><ax21:unitName1>Rotaria</ax21:unitName1><ax21:unitName2>tardigrada</ax21:unitName2><ax21:unitName3
        xsi:nil="true" /><ax21:unitName4 xsi:nil="true" /></ax21:scientificNames><ax21:scientificNames
        xsi:type="ax21:SvcScientificName"><ax21:tsn>58898</ax21:tsn><ax21:author xsi:nil="true"
        /><ax21:combinedName>Notommata tardigrada</ax21:combinedName><ax21:kingdom>Animalia</ax21:kingdom><ax21:unitInd1
        xsi:nil="true" /><ax21:unitInd2 xsi:nil="true" /><ax21:unitInd3 xsi:nil="true"
        /><ax21:unitInd4 xsi:nil="true" /><ax21:unitName1>Notommata</ax21:unitName1><ax21:unitName2>tardigrada</ax21:unitName2><ax21:u[...]
