http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getITISTermsFromCommonName?srchKey=hayfield%20tarweed
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcItisTermList","itisTerms":[{"author":"DC.","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["hayfield tarweed"],"nameUsage":"accepted","scientificName":"Hemizonia congesta","tsn":"37613"},{"author":"DC.","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["hayfield tarweed"],"nameUsage":"not accepted","scientificName":"Hemizonia luzulifolia ssp. luzulifolia","tsn":"37626"},{"author":"DC.","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["hayfield tarweed"],"nameUsage":"accepted","scientificName":"Hemizonia congesta ssp. congesta","tsn":"524128"},{"author":"(D.D. Keck) Tanowitz","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","co[...]
