http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getITISTerms?srchKey=brown%20bear
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcItisTermList","itisTerms":[{"author":"Jefferts, 1985","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["brown bear armhook squid"],"nameUsage":"valid","scientificName":"Gonatus ursabrunae","tsn":"82428"},{"author":"Linnaeus, 1758","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["Brown Bear"],"nameUsage":"valid","scientificName":"Ursus arctos","tsn":"180543"},{"author":"Linnaeus, 1758","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["brown bear"],"nameUsage":"valid","scientificName":"Ursus arctos arctos","tsn":"202383"},{"author":"Ord, 1815","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["brown bear"],"nameUsage":"valid","scientificName":"Ursus arctos horribilis","tsn":"202385"},{"author":"Blyth, 1854","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["brown bear"],"nameUsage":"valid","scientificName":"Ursus arctos pruinosus","tsn":"202386"},{"author":"Middendorff, 1851","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["Siberian brown bear"],"nameUsage":"valid","scientificName":"Ursus arctos beringianus","tsn":"726986"}],"requestedName":"brown bear"}
  recorded_at: 2021-02-02 01:28:18 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
