http_interactions:
- request:
    method: get
    uri: https://services.itis.gov/?group.field=rank&q=nameWOInd%3A%2F%5BA-Za-z0-9%5D%2A%5B%2520%5D%7B0%2C0%7D%2A%2F&wt=json&group.limit=3&group=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: |+
        {"responseHeader":{"status":0,"QTime":102,"params":{"q":"nameWOInd:/[A-Za-z0-9]*[%20]{0,0}*/","group.limit":"3","wt":"json","group.field":"rank","group":"true"}},"grouped":{"rank":{"matches":92745,"groups":[{"groupValue":"subfamily","doclist":{"numFound":3142,"start":0,"docs":[{"tsn":"134827","nameWInd":"Phthiriinae","nameWOInd":"Phthiriinae","unit1":"Phthiriinae","usage":"valid","credibilityRating":"No review; untreated NODC data","completenessRating":"unknown","currencyRating":"unknown","kingdom":"Animalia","parentTSN":"134153","rankID":"150","rank":"Subfamily","hierarchySoFar":["134827:$Animalia$Bilateria$Protostomia$Ecdysozoa$Arthropoda$Hexapoda$Insecta$Pterygota$Neoptera$Holometabola$Diptera$Brachycera$Muscomorpha$Bombyliidae$Phthiriinae$"],"hierarchySoFarWRanks":["134827:$Kingdom:Animalia$Subkingdom:Bilateria$Infrakingdom:Protostomia$Superphylum:Ecdysozoa$Phylum:Arthropoda$Subphylum:Hexapoda$Class:Insecta$Subclass:Pterygota$Infraclass:Neoptera$Superorder:Holometabola$Order:Diptera$Suborder:Brachycera$Infraorder:Muscomorpha$Family:Bombyliidae$Subfamily:Phthiriinae$"],"hierarchyTSN":["$202423$914154$914155$914158$82696$563886$99208$100500$563890$914213$118831$130052$131750$134153$134827$"],"otherSource":["$SRC$7$database$NODC Taxonomic Code$8.0$1996-07-29 00:00:00$$2010-01-14 00:00:00$"],"createDate":"1996-06-13 14:51:08","updateDate":"1996-06-24 00:00:00","hierarchicalSort":"9990Animalia-9980Bilateria-9975Protostomia-9973Ecdysozoa-9970Arthropoda-9960Hexapoda-9940Insecta-9930Pterygota-9920Neoptera-9910Holometabola-9900Diptera-9890Brachycera-9880Muscomorpha-9860Bombyliidae-9850Phthiriinae","_version_":1646158315521048586},{"tsn":"134884","nameWInd":"Geroninae","nameWOInd":"Geroninae","unit1":"Geroninae","usage":"valid","credibilityRating":"No review; untreated NODC data","completenessRating":"unknown","currencyRating":"unknown","kingdom":"Animalia","parentTSN":"134153","rankID":"150","rank":"Subfamily","hierarchySoFar":["134884:$Animalia$Bilateria$Protostomia$Ecdysozoa$Arthropoda$Hexapoda$Insecta$Pterygota$Neoptera$Holometabola$Diptera$Brachycera$Muscomorpha$Bombyliidae$Geroninae$"],"hierarch[...]
