http_interactions:
- request:
    method: get
    uri: https://services.itis.gov/?q=rank%3ASpecies&facet.field=kingdom&rows=0&wt=json&fl=DOES_NOT_EXIST&facet=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: |+
        {"responseHeader":{"status":0,"QTime":8,"params":{"q":"rank:Species","facet.field":"kingdom","fl":"DOES_NOT_EXIST","rows":"0","wt":"json","facet":"true"}},"response":{"numFound":580832,"start":0,"docs":[]},"facet_counts":{"facet_queries":{},"facet_fields":{"kingdom":["Animalia",453736,"Plantae",102820,"Bacteria",11983,"Chromista",6560,"Fungi",2961,"Protozoa",2328,"Archaea",444]},"facet_dates":{},"facet_ranges":{},"facet_intervals":{},"facet_heatmaps":{}}}

  recorded_at: 2018-05-03 17:44:26 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
