http_interactions:
- request:
    method: get
    uri: https://services.itis.gov/?q=tsn%3A182662&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: |+
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"tsn:182662","wt":"json"}},"response":{"numFound":1,"start":0,"docs":[{"tsn":"182662","nameWInd":"Agave americana ssp. americana var. expansa","nameWOInd":"Agave americana americana expansa","unit1":"Agave","unit2":"americana","unit3":"americana","unit4":"expansa","ind3":"ssp.","ind4":"var.","usage":"not accepted","unacceptReason":"other, see comments","credibilityRating":"TWG standards met","taxonAuthor":"(Jacobi) Gentry","kingdom":"Plantae","rankID":"240","rank":"Variety","hierarchySoFar":["566578:$Plantae$Viridiplantae$Streptophyta$Embryophyta$Tracheophyta$Spermatophytina$Magnoliopsida$Lilianae$Asparagales$Asparagaceae$Agave$Agave americana$Agave americana ssp. americana$Agave americana var. expansa$"],"hierarchySoFarWRanks":["566578:$Kingdom:Plantae$Subkingdom:Viridiplantae$Infrakingdom:Streptophyta$Superdivision:Embryophyta$Division:Tracheophyta$Subdivision:Spermatophytina$Class:Magnoliopsida$Superorder:Lilianae$Order:Asparagales$Family:Asparagaceae$Genus:Agave$Species:Agave americana$Subspecies:Agave americana ssp. americana$Variety:Agave americana var. expansa$"],"hierarchyTSN":["$202422$954898$846494$954900$846496$846504$18063$846542$897479$810124$182659$182660$182661$566578$"],"synonyms":["566578:$Agave americana americana expa$"],"synonymTSNs":["566578:$182662$"],"otherSource":["$SRC$7$database$NODC Taxonomic Code$8.0$1996-07-29 00:00:00$$2010-01-14 00:00:00$","$SRC$168$database$The PLANTS Database$4.0.4$1996-07-26 00:00:00$National Plant Data Center, NRCS, USDA. Baton Rouge, LA 70874-4490 USA. http://plants.usda.gov$2004-02-23 00:00:00$","$SRC$169$database$The PLANTS Database$5.1.1$2000-01-21 00:00:00$National Plant Data Center, NRCS, USDA. Baton Rouge, LA 70874-4490 USA. http://plants.usda.gov$2004-02-23 00:00:00$"],"acceptedTSN":["566578"],"comment":["$21180$Jenny K. Archibald$Under ICBN Article 24.1, \"The name of an infraspecific taxon is a combination of the name of a species and an infraspecific epithet. A connecting term is used to denote rank.\" The Example thereunder makes clear that taxa \"may also be referred to\" with intervening epithets (\"quadrinomials\" and such), but that while these do serve to present classification information, they are not \"names\" in the sense of the Code$2011-02-04 14:50:36$2017-04-25 00:00:00$"],"vernacular":["$American century plant$unspecified$N$21949$2011-02-24 00:00:00$","$American agave$unspecified$N$78015$2003-05-09 00:00:00$"],"createDate":"1996-06-13 14:51:08","updateDate":"2011-02-24 00:00:00","_version_":1646158321251516423}]}}

  recorded_at: 2019-10-11 17:22:22 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
- request:
    method: get
    uri: https://services.itis.gov/?q=nameWOInd%3ALiquidamber%5C%20styraciflua~0.4&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: |+
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"nameWOInd:Liquidamber\\ styraciflua~0.4","wt":"json"}},"response":{"numFound":1,"start":0,"docs":[{"tsn":"19027","nameWInd":"Liquidambar styraciflua","nameWOInd":"Liquidambar styraciflua","unit1":"Liquidambar","unit2":"styraciflua","usage":"accepted","credibilityRating":"TWG standards met","taxonAuthor":"L.","kingdom":"Plantae","parentTSN":"19026","rankID":"220","rank":"Species","hierarchySoFar":["19027:$Plantae$Viridiplantae$Streptophyta$Embryophyta$Tracheophyta$Spermatophytina$Magnoliopsida$Saxifraganae$Saxifragales$Altingiaceae$Liquidambar$Liquidambar styraciflua$"],"hierarchySoFarWRanks":["19027:$Kingdom:Plantae$Subkingdom:Viridiplantae$Infrakingdom:Streptophyta$Superdivision:Embryophyta$Division:Tracheophyta$Subdivision:Spermatophytina$Class:Magnoliopsida$Superorder:Saxifraganae$Order:Saxifragales$Family:Altingiaceae$Genus:Liquidambar$Species:Liquidambar styraciflua$"],"hierarchyTSN":["$202422$954898$846494$954900$846496$846504$18063$846550$846633$895195$19026$19027$"],"otherSource":["$SRC$7$database$NODC Taxonomic Code$8.0$1996-07-29 00:00:00$$2010-01-14 00:00:00$","$SRC$168$database$The PLANTS Database$4.0.4$1996-07-26 00:00:00$National Plant Data Center, NRCS, USDA. Baton Rouge, LA 70874-4490 USA. http://plants.usda.gov$2004-02-23 00:00:00$","$SRC$169$database$The PLANTS Database$5.1.1$2000-01-21 00:00:00$National Plant Data Center, NRCS, USDA. Baton Rouge, LA 70874-4490 USA. http://plants.usda.gov$2004-02-23 00:00:00$","$SRC$814$database$Saxifragales of North America Update$2011$2011-09-09 00:00:00$Updated for ITIS by the Flora of North America Expertise Network, in connection with an update for USDA PLANTS (2007-2010)$2012-06-27 00:00:00$"],"vernacular":["$sweetgum$English$N$148680$2012-06-27 00:00:00$"],"jurisdiction":["$Continental US$Native$2000-03-15 00:00:00$"],"geographicDivision":["$North America$1996-11-05 00:00:00$"],"createDate":"1996-06-13 14:51:08","updateDate":"2012-06-27 00:00:00","hierarchicalSort":"9990Plantae-9980Viridiplantae-9975Streptophyta-9973Embryophyta-9970Tracheophyta-9960Spermatophytina-9940Magnoliopsida-9910Saxifraganae-9900Saxifragales-9860Altingiaceae-9820Liquidambar-9780Liquidambar styraciflua","_version_":1646158299543896067}]}}

  recorded_at: 2019-10-11 17:22:22 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
- request:
    method: get
    uri: https://services.itis.gov/?q=nameWOInd%3A%2F%5BA-Ba-z0-9%5D%2A%5B%2520%5D%7B0%2C0%7D%2A%2F&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: |+
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"nameWOInd:/[A-Ba-z0-9]*[%20]{0,0}*/","wt":"json"}},"response":{"numFound":92745,"start":0,"docs":[{"tsn":"134827","nameWInd":"Phthiriinae","nameWOInd":"Phthiriinae","unit1":"Phthiriinae","usage":"valid","credibilityRating":"No review; untreated NODC data","completenessRating":"unknown","currencyRating":"unknown","kingdom":"Animalia","parentTSN":"134153","rankID":"150","rank":"Subfamily","hierarchySoFar":["134827:$Animalia$Bilateria$Protostomia$Ecdysozoa$Arthropoda$Hexapoda$Insecta$Pterygota$Neoptera$Holometabola$Diptera$Brachycera$Muscomorpha$Bombyliidae$Phthiriinae$"],"hierarchySoFarWRanks":["134827:$Kingdom:Animalia$Subkingdom:Bilateria$Infrakingdom:Protostomia$Superphylum:Ecdysozoa$Phylum:Arthropoda$Subphylum:Hexapoda$Class:Insecta$Subclass:Pterygota$Infraclass:Neoptera$Superorder:Holometab[...]
