http_interactions:
- request:
    method: get
    uri: https://services.itis.gov/?q=rank%3ASpecies&rows=10&wt=json&hl.fl=rank&hl=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: |+
        {"responseHeader":{"status":0,"QTime":2,"params":{"q":"rank:Species","hl":"true","hl.fl":"rank","rows":"10","wt":"json"}},"response":{"numFound":621563,"start":0,"docs":[{"tsn":"134778","nameWInd":"Rhabdopselaphus mus","nameWOInd":"Rhabdopselaphus mus","unit1":"Rhabdopselaphus","unit2":"mus","usage":"invalid","unacceptReason":"junior synonym","credibilityRating":"No review; untreated NODC data","taxonAuthor":"Bigot, 1886","kingdom":"Animalia","rankID":"220","rank":"Species","hierarchySoFar":["134777:$Animalia$Bilateria$Protostomia$Ecdysozoa$Arthropoda$Hexapoda$Insecta$Pterygota$Neoptera$Holometabola$Diptera$Brachycera$Muscomorpha$Bombyliidae$Usiinae$Apolysis$Apolysis mus$"],"hierarchySoFarWRanks":["134777:$Kingdom:Animalia$Subkingdom:Bilateria$Infrakingdom:Protostomia$Superphylum:Ecdysozoa$Phylum:Arthropoda$Subphylum:Hexapoda$Class:Insecta$Subclass:Pterygota$Infraclass:Neoptera$Superorder:Holometabola$Order:Diptera$Suborder:Brachycera$Infraorder:Muscomorpha$Family:Bombyliidae$Subfamily:Usiinae$Genus:Apolysis$Species:Apolysis mus$"],"hierarchyTSN":["$202423$914154$914155$914158$82696$563886$99208$100500$563890$914213$118831$130052$131750$134153$134696$134698$134777$"],"synonyms":["134777:$Rhabdopselaphus mus$"],"synonymTSNs":["134777:$134778$"],"otherSource":["$SRC$7$database$NODC Taxonomic Code$8.0$1996-07-29 00:00:00$$2010-01-14 00:00:00$"],"acceptedTSN":["134777"],"createDate":"1996-06-13 14:51:08","updateDate":"1996-06-24 00:00:00","_version_":1646158315515805696},{"tsn":"134779","nameWInd":"Apolysis neuter","nameWOInd":"Apolysis neuter","unit1":"Apolysis","unit2":"neuter","usage":"valid","credibilityRating":"No review; untreated NODC data","taxonAuthor":"(Melander, 1946)","kingdom":"Animalia","parentTSN":"134698","rankID":"220","rank":"Species","hierarchySoFar":["134779:$Animalia$Bilateria$Protostomia$Ecdysozoa$Arthropoda$Hexapoda$Insecta$Pterygota$Neoptera$Holometabola$Diptera$Brachycera$Muscomorpha$Bombyliidae$Usiinae$Apolysis$Apolysis neuter$"],"hierarchySoFarWRanks":["134779:$Kingdom:Animalia$Subkingdom:Bilateria$Infrakingdom:Protostomia$Superphylum:Ecdysozoa$Phylum:Arthropoda$Subphylum:Hexapoda$Class:Insecta$Subclass:Pterygota$Infraclass:Neoptera$Superorder:Holometabola$Order:Diptera$Suborder:Brachycera$Infraorder:Muscomorpha$Family:Bombyliidae$Subfamily:Usiinae$Genus:Apolysis$Species:Apolysis neuter$"],"hierarchyTSN":["$202423$914154$914155$914158$82696$563886$99208$100500$563890$914213$118831$130052$131750$134153$134696$134698$134779$"],"synonyms":["134779:$Pseudogeron neuter$"],"synonymTSNs":["134779:$134780$"],"otherSource":["$SRC$7$database$NODC Taxonomic Code$8.0$1996-07-29 00:00:00$$2010-01-14 00:00:00$"],"createDate":"1996-06-13 14:51:08","updateDate":"1996-06-24 00:00:00","hierarchicalSort":"9990Animalia-9980Bilateria-9975Protostomia-9973Ecdysozoa-9970Arthropoda-9960Hexapoda-9940Insecta-9930Pterygota-9920Neoptera-9910Holometabola-9900Diptera-9890Brachycera-9880Muscomorpha-9860Bombyliidae-9850Usiinae-9820Apolysis-9780Apolysis neuter","_version_":1646158315515805697},{"tsn":"134780","nameWInd":"Pseudogeron neuter","nameWOInd":"Pseudogeron neuter","unit1":"Pseudogeron","unit2":"neuter","usage":"invalid","unacceptReason":"junior synonym","credibilityRating":"No review; untreated NODC d[...]
