http_interactions:
- request:
    method: get
    uri: https://services.itis.gov/?q=rank%3ASpecies&rows=10&wt=json&hl.fl=rank&hl=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: |+
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"rank:Species","hl":"true","hl.fl":"rank","rows":"10","wt":"json"}},"response":{"numFound":580832,"start":0,"docs":[{"tsn":"58","nameWInd":"Nitrobacter agilis","nameWOInd":"Nitrobacter agilis","unit1":"Nitrobacter","unit2":"agilis","usage":"invalid","unacceptReason":"unavailable, database artifact","credibilityRating":"Minimum taxonomic/nomenclature review","kingdom":"Bacteria","rankID":"220","rank":"Species","hierarchySoFar":["50:$Bacteria$"],"hierarchySoFarWRanks":["50:$Kingdom:Bacteria$"],"hierarchyTSN":["$50$"],"synonyms":["50:$Schizomycetes$Archangiaceae$Rhodobacteriineae$Pseudomonadineae$Nitrobacteraceae$Nitrobacter agilis$Nitrobacter flavus$Nitrobacter oligotrophis$Nitrobacter polytrophus$Nitrobacter punctata$Nitrobacter roseo-albus$Nitrosomonas groningensis$Nitrosomonas javenensis$Nitrosomonas monocella$Thiobacteriaceae$Aeromonas liquefaciens$Aeromonas nactus$Aeromonas shigelloides$Spirillum agilissimum$Spirillum alcaligenum$Spirillum amphibolum$Spirillum amyliferum$Spirillum anceps$Spirillum anodontae$Spiril[...]
