http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/services/ITISService/getRecordFromLSID?lsid=urn%3Alsid%3Aitis.gov%3Aitis_tsn%3A180543
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/xml;charset=UTF-8
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: <ns:getRecordFromLSIDResponse xmlns:ns="http://itis_service.itis.usgs.gov"><ns:return
        xmlns:ax21="http://data.itis_service.itis.usgs.gov/xsd" xmlns:ax23="http://metadata.itis_service.itis.usgs.gov/xsd"
        xmlns:ax26="http://itis_service.itis.usgs.gov/xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ax21:SvcLSIDRecord"><ax21:tsn>180543</ax21:tsn><ax21:authorship>Linnaeus,
        1758</ax21:authorship><ax21:genusPart>Ursus</ax21:genusPart><ax21:infragenericEpithet
        xsi:nil="true" /><ax21:infraspecificEpithet xsi:nil="true" /><ax21:lsid>urn:lsid:itis.gov:itis_tsn:180543</ax21:lsid><ax21:nameComplete>Ursus
        arctos</ax21:nameComplete><ax21:nomenclaturalCode>iczn</ax21:nomenclaturalCode><ax21:rank>http://rs.tdwg.org/ontology/voc/TaxonRank#Species</ax21:rank><ax21:rankString>Species</ax21:rankString><ax21:specificEpithet>arctos</ax21:specificEpithet><ax21:uninomial
        xsi:nil="true" /></ns:return></ns:getRecordFromLSIDResponse>
  recorded_at: 2019-10-11 16:13:13 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
