http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/searchByScientificName?srchKey=Tardigrada
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: HTTP/1.1 200 OK
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcScientificNameList","scientificNames":[{"author":"(Ehrenberg, 1832)","class":"gov.usgs.itis.itis_service.data.SvcScientificName","combinedName":"Rotaria tardigrada","kingdom":"Animalia","tsn":"58274","unitInd1":null,"unitInd2":null,"unitInd3":null,"unitInd4":null,"unitName1":"Rotaria","unitName2":"tardigrada","unitName3":null,"unitName4":null},{"author":null,"class":"gov.usgs.itis.itis_service.data.SvcScientificName","combinedName":"Notommata tardigrada","kingdom":"Animalia","tsn":"58898","unitInd1":null,"unitInd2":null,"unitInd3":null,"unitInd4":null,"unitName1":"Notommata","unitName2":"tardigrada","unitName3":null,"unitName4":null},{"author":null,"class":"gov.usgs.itis.itis_service.data.SvcScientificName","combinedName":"Pilargis tardigrada","kingdom":"Animalia","tsn":"65562","unitInd1":null,"unitInd2":null,"unitInd3":null,"un[...]
