http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/searchByCommonName?srchKey=american%20bullfrog
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: HTTP/1.1 200 OK
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcCommonNameList","commonNames":[{"class":"gov.usgs.itis.itis_service.data.SvcCommonName","commonName":"American Bullfrog","language":"English","tsn":"775084"},{"class":"gov.usgs.itis.itis_service.data.SvcCommonName","commonName":"American Bullfrog","language":"English","tsn":"173441"}],"tsn":null}
  recorded_at: 2018-05-03 17:54:24 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
